@import "tailwindcss";

@theme { 
  --color-primary: #946b2d;
  --color-secondary: #2E2E2E;
  --color-tertiary: #F2F2F2;
  --animate-fadeIn: fadeIn 0.5s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity:1;
    }
  }

}