---
import Layout from "../../layouts/Layout.astro";

import {getTotalPropiedades, singleHouse } from "../../utils/getStrapiInfo.ts";

export async function getStaticPaths() {
  const propiedades = await getTotalPropiedades();
  
  return propiedades.data.map((propiedad) => ({
        params: {
          propiedad: propiedad.Precio,
        },
      }
    )
  ) 

} 

// Obtener el parámetro dinámico de la URL
const { propiedad } = Astro.params;


// Buscar el mueble por título
const dataPropiedad = await singleHouse(propiedad);
console.log('conastroparams',dataPropiedad);

---
<Layout>
  <h1>hola</h1>
  
</Layout>