---
import GalleryProperties from "../../components/GalleryProperties.astro";
import DetailsProperties from "../../components/DetailsProperties.astro";
import Layout from "../../layouts/Layout.astro";
import PointmapIcon from "../../assets/icons/pointmapIcon.astro";
import {getTotalPropiedades, singleHouse } from "../../utils/getStrapiInfo.ts";

export async function getStaticPaths() {
  const propiedades = await getTotalPropiedades();
  
  return propiedades.data.map((propiedad: {Titulo : String}) => ({
        params: {
          propiedad: propiedad.Titulo,
        },
      }
    )
  ) 

} 

// Obtener el parámetro dinámico de la URL
const { propiedad } = Astro.params;

const dataPropiedad = await singleHouse(propiedad);
//console.log('valores',dataPropiedad);

---
<Layout>
  <main class="mt-20 max-w-6xl mx-6 md:mx-auto mb-10 p-6  bg-white/50 rounded-md border border-primary/50 hover:border-primary/90 transition-all duration-100">

    <div class="w-full"><!-- Encabezado -->
      <h1 class="text-4xl md:text-6xl text-primary font-bold">{dataPropiedad.Titulo}</h1>
      <div class="flex flex-col md:flex-row justify-center items-center md:justify-between pb-2 border-b border-primary/50">
        <p class="text-4xl font-semibold text-secondary mt-5">B/. {dataPropiedad.Precio.toLocaleString("en-Us")}</p>
        <p class="text-4xl font-semibold text-secondary mt-5 flex items-center justify-center"><span><PointmapIcon class="size-8 text-primary"/></span> {dataPropiedad.Direccion}</p>
      </div>
    </div>
    
    <GalleryProperties Imagenes={dataPropiedad.Imagenes} />
    
    <DetailsProperties dataPropiedad={dataPropiedad}/>
  </main>
</Layout>