---
import Layout from "../../layouts/Layout.astro";
import {getTotalPropiedades, singleHouse } from "../../utils/getStrapiInfo.ts";
const StrapiURL = import.meta.env.PUBLIC_STRAPI_URL
console.log(StrapiURL);

export async function getStaticPaths() {
  const propiedades = await getTotalPropiedades();
  
  return propiedades.data.map((propiedad) => ({
        params: {
          propiedad: propiedad.Titulo,
        },
      }
    )
  ) 

} 

// Obtener el parámetro dinámico de la URL
const { propiedad } = Astro.params;

const dataPropiedad = await singleHouse(propiedad);
console.log('valores',dataPropiedad);

---
<Layout>
  <main class="mt-20 max-w-7xl mx-auto p-2">
    <div><!-- Encabezado -->
      <h1 class="text-6xl text-primary font-bold">{dataPropiedad.Titulo}</h1>
      <span class="text-3xl text-secondary mt-6">B/.{dataPropiedad.Precio}</span>
    </div>

    <div class="grid grid-cols-6 grid-rows-6 gap-3">
      <div class="col-span-2 row-span-4">11</div>
      <div class="col-span-4 row-span-2 col-start-3">12</div>
      <div class="col-span-2 row-span-2 col-start-3 row-start-3">13</div>
      <div class="col-span-2 row-span-2 col-start-5 row-start-3">14</div>
      <div class="col-span-2 row-span-2 row-start-5">15</div>
      <div class="col-span-2 row-span-2 col-start-3 row-start-5">16</div>
      <div class="col-span-2 row-span-2 col-start-5 row-start-5">17</div>
    </div>
    <!-- <div class="grid gap-2 grid-cols-1 md:grid-cols-4"> <- Galeria ->
      {dataPropiedad.Imagenes.map( (img) => 
        <img src={StrapiURL + img.url} alt="Imagen de la Propiedad">
        )
      }
    </div> -->

    <div> <!-- Detalles -->

    </div>
  </main>
</Layout>