---
import Layout from '../layouts/Layout.astro';
import PhoneIcon from '../assets/icons/phoneIcon.astro';
import EmailIcon from '../assets/icons/msg.astro';
import PointmapIcon from '../assets/icons/pointmapIcon.astro';
import { getContactInfo } from '../utils/getStrapiInfo'

const dataContact = await  getContactInfo()

const numero = dataContact.data.NumeroTelefonico
const direccion = dataContact.data.Direccion
const correo = dataContact.data.CorreoDirecto 
---

<Layout>
  <main class="max-w-7xl mx-auto p-2">
    <h1 class="text-center mt-18 text-4xl font-bold">Contáctanos</h1>
    <p class="text-center mt-4 text-4xl font-semibold text-secondary/90">¡La casa de tus sueños a un solo paso!</p>

    <div class="flex flex-col md:flex-row justify-between my-20 max-w-4xl mx-auto gap-y-10">

      <div class="flex items-center flex-col space-y-3">
        <PhoneIcon class="size-18 text-primary"/>
        <h2 class="font-bold">Llámanos</h2>
        <p class="font-semibold">{numero}</p>
      </div>

      <div class="flex items-center flex-col  space-y-3">
        <PointmapIcon class="size-18 text-primary"/>
        <h2 class="font-bold">Encuéntranos</h2>
        <p class="font-semibold">{direccion}</p>
      </div>

      <div class="flex items-center flex-col space-y-3 ">
        <EmailIcon class="size-18 text-primary"/>
        <h2 class="font-bold">Envía un Email</h2>
        <div>
          <p class="font-semibold text-center text-secondary/70">Correo Directo</p>
          <p class="font-semibold">{correo}</p>
        </div>
      </div>

    </div>
    <!-- Mapa -->
    <iframe class="w-full h-72 mb-10" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3941.127150309649!2d-79.5537866441956!3d8.960429749580182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8faca8ae50cf0513%3A0xe027052cdd6275c7!2sC.%20Gorgas%2C%20Panam%C3%A1%2C%20Provincia%20de%20Panam%C3%A1!5e0!3m2!1ses-419!2spa!4v1740544725740!5m2!1ses-419!2spa"  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      
  </main>
</Layout>