---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-24">
      <article class="bg-white shadow-md p-8 rounded-md">
        <span class="text-sm text-secondary">30 de Sep 2035</span>
        <h2 class="font-bold my-2">10 tips para que los estudiantes paguen la renta</h2>
        <p class="text-secondary/90">por Gregorio Jasso</p>
        <img src="sala.webp" class="object-cover my-4" alt="">
        <p class="text-pretty mt-3">Este ítem se conecta a un campo de texto de tu colección de contenido. Haz doble clic para editar y elige "Cambiar contenido" para abrir la colección. Para ver y gestionar las colecciones, cliquea el icono Admin. de contenido en el panel izquierdo Agregar. Allí, puedes actualizar ítems, añadir nuevos campos, crear páginas dinámicas y más.</p>
        <p>Tu colección de contenido ya está configurada con campos y contenido. Añade los tuyos propios editando cada campo o importa archivos CSV a tu colección de contenido. Crea campos para contenido enriquecido, imágenes y más.</p>
      </article>

      <article class="bg-white shadow-md p-8 rounded-md">
        <span class="text-sm text-secondary">30 de Sep 2035</span>
        <h2 class="font-bold my-2">10 tips para que los estudiantes paguen la renta</h2>
        <p class="text-secondary/90">por Gregorio Jasso</p>
        <img src="sala.webp" class="object-cover my-4" alt="">
        <p class="text-pretty mt-3">Este ítem se conecta a un campo de texto de tu colección de contenido. Haz doble clic para editar y elige "Cambiar contenido" para abrir la colección. Para ver y gestionar las colecciones, cliquea el icono Admin. de contenido en el panel izquierdo Agregar. Allí, puedes actualizar ítems, añadir nuevos campos, crear páginas dinámicas y más.</p>
        <p>Tu colección de contenido ya está configurada con campos y contenido. Añade los tuyos propios editando cada campo o importa archivos CSV a tu colección de contenido. Crea campos para contenido enriquecido, imágenes y más.</p>
      </article>
    </section>
  </main>
</Layout>