---
import PreviewHouse from '../components/PreviewHouse.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <section>
      <h2>Selecciona el tipo de Propiedad que buscas</h2>
    
    </section>

    <section>
      <PreviewHouse/>
    </section>
  </main>
</Layout>