---
import PreviewHouse from '../components/PreviewHouse.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <section class="w-full">
      <h2 class="text-center mt-20 text-4xl font-bold text-balance p-2">Selecciona el tipo de Propiedad que buscas</h2>
      

<div class="flex justify-center items-center text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
  <ul class="flex flex-wrap -mb-px">
    <li class="me-2">
      <a href="#" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">
        Todas las Propiedades
      </a>
    </li>
    <li class="me-2">
      <a href="#" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">
        Propiedades en Venta
      </a>
    </li>
    <li class="me-2">
      <a href="#" class="inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500" aria-current="page">
        Propiedades en Renta
      </a>
    </li>
      
  </ul>
</div>

    </section>

    <section>
      <PreviewHouse/>
    </section>
  </main>
</Layout>