---
const { dataPropiedad } = Astro.props
---
<section class="border-t border-primary/50 pt-2"> <!-- Detalles -->
  <span class="text-secondary font-semibold text-2xl"> Descripcion de la Propiedad:</span>
  <p class="mt-2">{dataPropiedad.Descripcion}</p>


</section>