---
import 'photoswipe/style.css';
  const Imagenes = Astro.props.Imagenes
  const StrapiURL = import.meta.env.PUBLIC_STRAPI_URL
  Imagenes.map( img => img.url= StrapiURL + img.url )  
---

<div id="app">
  <div class=" grid grid-cols-2 md:grid-cols-4 gap-4" id="my-gallery" >
    {
      Imagenes.map( img => 
      <a
      href={img.url}
      data-pswp-width="1080"
      data-pswp-height="900"
      target="_blank"
      >
        <img
         class="object-cover"
          src={img.url}
          alt=""
        />
      </a>
      )
    }
  </div>
</div>

<script>
  import PhotoSwipeLightbox from 'photoswipe/lightbox';

  const lightbox = new PhotoSwipeLightbox({
    gallery: '#my-gallery',
    children: 'a',
    pswpModule: () => import('photoswipe'),
  });

  lightbox.init();
</script>