---
import 'photoswipe/style.css';
const Imagenes = Astro.props.Imagenes
---

<section >
  <h3 class="text-center font-bold text-4xl text-secondary my-4"> Galeria de Fotos</h3>
  <div class="mb-10 relative py-5 max-w-7xl mx-auto grid overflow-hidden" id="my-gallery" >
    {
      Imagenes.map( (img: { url: string, width: number, height: number }) => 
      <a
      
      class="block rounded-2xl absolute"
      href={img.url}
      data-pswp-width={img.width}
      data-pswp-height={img.height}
      >
        <img
        loading="lazy"
         class=" object-cover block rounded-lg"
          src={img.url}
          alt=""
        />
      </a>
      )
    }
  </div>
</section>

<script>
  import PhotoSwipeLightbox from 'photoswipe/lightbox';
  import MiniMasonry from "minimasonry";

  document.addEventListener('astro:page-load', () => {
    const masonry = new MiniMasonry({
        container: document.getElementById('my-gallery'),
        gutter: 10,
        baseWidth: 300,
    });

    const lightbox = new PhotoSwipeLightbox({
      gallery: '#my-gallery',
      children: 'a',
      pswpModule: () => import('photoswipe'),
    });

    lightbox.init();

    window.addEventListener('load', () => masonry.layout());
  })
</script>