---
import Logo from '../assets/icons/house.astro'
---
<header class="mb-14">
  <nav class="bg-white text-secondary z-50 top-0 w-full font-bold select-none fixed">
    <div class="flex p-2 container mx-auto items-center justify-between max-w-7xl">
      
      <div class="flex items-center border-b-4 border-primary ">
        <Logo class="size-10 fill-primary"/>
        <a class="ml-2 text-xl" href="/">C.G Properties</a>
      </div>

      <!-- Menu MD+ -->
      <div class="hidden md:flex space-x-4 items-center">
        <a class="hover:text-primary" href="/">Inicio</a>
        <a class="hover:text-primary" href="/propiedades">Propiedades</a>
        <a class="hover:text-primary" href="/noticias">Noticias</a>
        <a class="hover:text-primary" href="/equipo">Equipo</a>
        <a class="text-white bg-primary rounded-lg px-2 py-1 hover:scale-110 transition-normal duration-300" href="/contactanos ">Contáctanos </a>
      </div>

       <!-- Botón de hamburguesa -->
       <button class="md:hidden text-primary focus:outline-none cursor-pointer" aria-label="menu" id="menu-btn">
        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </button>

      <div class="absolute z-50 top-15 p-2 backdrop-blur-sm hidden animate-fadeIn space-y-3 bg-primary/80 left-0 w-full h-8/12 shadow-md" id="menu">
        <a class="text-white block text-center hover:text-secondary" href="/">Inicio</a>
        <a class="text-white block text-center hover:text-secondary" href="/propiedades">Propiedades</a>
        <a class="text-white block text-center hover:text-secondary" href="/noticias">Noticias</a>
        <a class="text-white block text-center hover:text-secondary" href="/equipo">Equipo</a>
        <a class="text-white block text-center bg-primary hover:bg-primary/70 rounded-lg px-2 py-1  transition-normal" href="/contactanos ">Contáctanos </a>
      </div>

    </div>
  </nav>
</header>

<script>
  const menuBtn = document.getElementById("menu-btn")
  const menu = document.getElementById("menu")

  menuBtn?.addEventListener("click", () => {
    menu?.classList.toggle("hidden")
  })
</script>