---
import House from "../assets/icons/house.astro";
import Msg from "../assets/icons/msg.astro";

---
<section class=" select-none">
  
  <div class="relative w-full min-h-[600px] " >
    <!-- backgroud filter -->
    <div class="absolute z-0 inset-0 bg-[url('/sala.webp')] bg-cover bg-center filter brightness-40"></div>

    <!-- Contenido -->
    <div class="relative flex flex-col max-w-7xl mx-auto p-2">
      <h1 class="text-center my-14 text-5xl md:text-7xl text-white text-balance font-bold">Cerdeño Global Properties</h1>
      
      <span class=" text-white/90 text-pretty text-center text-3xl">Bienvenido a nuestro portal donde su próximo hogar lo está esperando. Explore nuestro catálogo y descubra la propiedad perfecta para usted</span>
      
      <div class="flex justify-center flex-col gap-y-2 gap-x-6 md:flex-row  my-10 ">
        <a class="px-4 py-2 text-xl bg-white/95 rounded-lg text-primary hover:scale-110 font-bold  transition-all duration-200" href="/propiedades">
          Propiedades
          <House class="size-6 inline-block fill-primary"/>
        </a>
        <a class="px-4 py-2 text-xl bg-white/95 rounded-lg text-primary hover:scale-110 font-bold  transition-all duration-200" href="/contactanos">
          Contáctanos
          <Msg class="size-6 inline-block "/>
        </a>
      </div>
    </div>  
  <div/>
</section>