---
import PreviewHouseItem from "./PreviewHouseItem.astro";
import {getUltimateHouses} from "../utils/getStrapiInfo"
const dataHouses = await getUltimateHouses();
//console.log(dataHouses);

---
<section class="max-w-7xl mx-auto p-2 -mt-10 select-none ">
  <h2 class="text-center text-secondary text-3xl md:text-5xl font-bold "> Ultimas Propiedades Ofertadas</h2>
  
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mt-14">
    <!-- Elementos de vista -->
    
    {dataHouses.map((house) => (
      <PreviewHouseItem house={house} />
    ))}
  
  </div>
</section>