---

---
<section class="max-w-7xl mx-auto p-2  select-none -mt-5 h-screen">
  <h2 class="text-center text-secondary text-3xl md:text-5xl font-bold "> Ultimos Predios Registrados</h2>
  
  <div class="flex flex-col md:flex-row gap-4 mt-12">

    <div class="bg-tertiary relative">
      <img class="w-full h-56 object-cover rounded-2xl" src="sec1.webp" alt="">
      <div class="bg-white/80 absolute bottom-0 left-0 p-4 rounded-r-2xl">
        <p class="font-bold text-xl">Panamá, Amador</p>
        <div class="flex gap-2">
          <div class="flex flex-col">
            <span>Mt2</span>
            <span>2</span>
          </div>
          <span>Baños</span>
          <span>Hab.</span>
        </div>
      </div>
    </div>

    <div>
      <img class="w-full h-56 object-cover rounded-2xl" src="sec1.webp" alt="">
    </div>
    <div>
      <img class="w-full h-56 object-cover rounded-2xl" src="3.webp" alt="">
    </div>
    <div>
      <img class="w-full h-56 object-cover rounded-2xl" src="2.webp" alt="">
    </div>
    

  </div>
</section>